.demo-page {

  height: 100%;
  width: 100%;

  display: -webkit-flex;
  display: flex;

  background-color: @dark-white;

  .leftPanel {
    -webkit-flex: 2;
            flex: 2;

    height: 100%;
    overflow-y: auto;

    border-right: 1px solid @grey-200;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    // -webkit-justify-content:  space-between;
    // justify-content:  space-between;

    -webkit-align-items: flex-start;
    align-items: flex-start;

    .input {
      flex: 1 1 auto;
      min-height: 350px;
    }

    .info {
      flex: 1 0 auto;
    }

    .control {
      flex: 0 0 auto;
    }
  }

  .rightPanel {
    -webkit-flex: 3;
            flex: 3;

    height: 100%;

    .visualizationScrollWrapper {
      // flex: 1 1 auto;
      // min-height: 200px;
      height: 100%;

    }

  }

}


@media all and (max-width: 1000px) {

 .demo-page {
   .leftPanel {
     -webkit-flex: 1;
             flex: 1;
   }

   .rightPanel {
     -webkit-flex: 1;
             flex: 1;
   }
 }

}

@media all and (max-width: 640px) {

 .demo-page {
   -webkit-flex-flow: column;
      flex-direction: column;

   .leftPanel {
     -webkit-flex: 1;
             flex: 1;
     border-right: 0;
     border-bottom: 1px solid @grey-200;
   }

   .rightPanel {
     -webkit-flex: 1;
             flex: 1;
   }
 }
}
