.visualization {
  height: 100%;
  position: relative;
}
.content {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 1em 1em;
  display: flex;

  // for auto scrolling
  position: relative;
  // neccessary for border
  display: flex;
  // the default value is stretch, undesirable
  align-items: flex-start;

  // * { .ease-out(); }
}

.controls {
  right: 0;
  position: absolute;
  bottom: 1em;
}

.ruleStyle {
  // background-color: @grey-300;
  white-space: pre;
}

.goal {
  // padding: 0.5em 0;


  .longestPlaceholder {
    height: 0;
    visibility: hidden;
  }

  color: @grey-900;
  display: flex;
  flex: 0 0 auto;
  align-items: baseline;
  // flex-wrap: nowrap;
  flex: 1 0 auto;


  .monoFont;
  font-size: 12px;

  .labels {
    // height: 100%;
    padding-right: 1em;

    // background-color: @grey-100;
    box-sizing: border-box;
    display: block;
    // margin: 1px 0;
    position: relative;
    // text-align: center;
    flex: 0 0 auto;

    .goals {
      // outline: 1px dashed @grey-500;
      display: flex;
      flex-direction: column;
      align-items: baseline;

      // background-color: #DDD;
      .latestGoal {
        // background-color: none;
        .ruleStyle;
      }

      .currentGoal {
        // border: 2px dashed @grey-500;
        font-weight: bold;
      }
      .currentGoal.highlight {
        .highlightRuleBefore;
      }
      .currentGoal.highlight.unificationSucceeded {
        .highlightRuleSuccess;
      }
      .currentGoal.highlight.unificationFailed {
        .highlightRuleFailure;
      }

      .currentGoal.latestGoal.highlightLatest {
        .highlightRuleSuccess;
      }
      .latestGoal.highlightLatest {
        .highlightRuleSuccess;
      }

      .firstNonLastestGoal:not(:only-child) {
        // background-color: red;
        // .ruleStyle;
        border-top: 1px dashed @grey-400;
        // box-sizing: border-box;
      }

      // .currentGoal:not(:only-child)::after {
      //   content: ", "
      // }


    }

    .subst:not(:empty) {
      border-top: 1px solid @grey-300;
    }

    .subst {
      color: @grey-800;
    }
  }

  .rulesAndChildren {
    border-left: 1px solid @grey-400;
    padding-left: 1em;

    // flex: 0 0 auto;
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    .ruleAndChild+.ruleAndChild {
      // border-top: 1px solid @grey-400;
      // margin-top: 0.5em;
      // padding-top: 0.5em;
    }

    .ruleAndChild {

      flex: 0 0 auto;
      display: flex;
      align-items: baseline;
      // align-content: center;
      position: relative;
      // justify-content: center;


      .ruleWrapper {
        // border-top: 1px solid @grey-400;

      }
      .longestRule {
        visibility: hidden;
        height: 0;
        // position: absolute;
      }
      .rule {
        // flex: 0 0 auto;
        display: inline-block;
        .ruleStyle;
      }

      .rule.noChild {
        background-color: transparent;
      }
      .rule.highlight {
        .highlightRuleBefore;
      }
      .rule.highlight.unificationSucceeded {
        // background-color: @yellow-300;
        .highlightRuleSuccess;

        .errorMsg {
          .highlightRuleSuccess;
          color: @deep-orange-900;
        }
      }
      .rule.highlight.unificationFailed {
        .highlightRuleFailure;
      }

      .rule.shouldStrike {
        text-decoration: line-through;
        background-color: transparent;
      }
    }
  }

  // counter
  // counter-reset: step-counter;
  // .labelChild::before {
  //     content: counter(step-counter);
  //     counter-increment: step-counter;
  //     margin-right: 5px;
  //     font-size: 80%;
  // }
}

.goal.currentEnv {
  // border: 2px dashed @grey-500;
  // outline: @grey-500 dashed 1px;
  background-color: @grey-50;
  // background-color: @grey-300;
}
.goal.nothing {
  display: none;
}
.goal.solution {
  color: @green-600;

  .labels {
    border: none;
  }
  .subst {
    // display: none;
    border: none !important;
    color: @green-600;
    font-weight: bold;
  }
  .rulesAndChildren {
    display: none;
  }
}
.goal.shouldHideRulesAndChildren {
  .rulesAndChildren {
    display: none;
  }
  // .goals {
  //   :not(.latestGoal) {
  //     display: none;
  //   }
  // }
  .subst {
    // display: none;
  }

}

@selectionColor: #B5D5FF;
.highlightRuleSuccess {
  background-color: @light-green-300 !important;
}
.highlightRuleFailure {
  background-color: @red-200 !important;
}
.highlightRuleBefore {
  background-color: @yellow-200 !important;
}

.highlightApplication {
  background-color: CornflowerBlue;
  color: white;
}
