<!DOCTYPE html>
<div id="vizDiv">
    <grammar>
        <name>Prolog</name>
        <rules>
            <rule>
                <name>Program</name>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <star>
                                    <app>Rule</app>
                                </star>
                                <app>Query</app>
                            </seq>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>Rule</name>
                <description>a rule</description>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <app>Clause</app>
                                <string><span>:-</span></string>
                                <app>Clauses</app>
                                <string><span>.</span></string>
                            </seq>
                            <casename>body</casename>
                        </choice>
                        <choice>
                            <seq>
                                <app>Clause</app>
                                <string><span>.</span></string>
                            </seq>
                            <casename>noBody</casename>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>Query</name>
                <description>a query</description>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <app>Clauses</app>
                                <string><span>?</span></string>
                            </seq>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>Clause</name>
                <description>a clause</description>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <app>symbol</app>
                                <string><span>(</span></string>
                                <app>Term</app>
                                <star>
                                    <paren>
                                        <alt>
                                            <choice>
                                                <seq>
                                                    <string><span>,</span></string>
                                                    <app>Term</app>
                                                </seq>
                                            </choice>
                                        </alt>
                                    </paren>
                                </star>
                                <string><span>)</span></string>
                            </seq>
                            <casename>args</casename>
                        </choice>
                        <choice>
                            <seq>
                                <app>symbol</app>
                            </seq>
                            <casename>noArgs</casename>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>Clauses</name>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <app>Clause</app>
                                <star>
                                    <paren>
                                        <alt>
                                            <choice>
                                                <seq>
                                                    <string><span>,</span></string>
                                                    <app>Clause</app>
                                                </seq>
                                            </choice>
                                        </alt>
                                    </paren>
                                </star>
                            </seq>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>Term</name>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <app>Clause</app>
                            </seq>
                        </choice>
                        <choice>
                            <seq>
                                <app>List</app>
                            </seq>
                        </choice>
                        <choice>
                            <seq>
                                <app>variable</app>
                            </seq>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>List</name>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <string><span>[</span></string>
                                <string><span>]</span></string>
                            </seq>
                            <casename>empty</casename>
                        </choice>
                        <choice>
                            <seq>
                                <string><span>[</span></string>
                                <app>Contents</app>
                                <string><span>]</span></string>
                            </seq>
                            <casename>nonEmpty</casename>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>Contents</name>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <app>Term</app>
                                <string><span>,</span></string>
                                <app>Contents</app>
                            </seq>
                            <casename>cons1</casename>
                        </choice>
                        <choice>
                            <seq>
                                <app>Term</app>
                                <string><span>|</span></string>
                                <app>Term</app>
                            </seq>
                            <casename>cons2</casename>
                        </choice>
                        <choice>
                            <seq>
                                <app>Term</app>
                            </seq>
                            <casename>single</casename>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>variable</name>
                <description>a variable</description>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <app>upper</app>
                                <star>
                                    <app>alnum</app>
                                </star>
                            </seq>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>symbol</name>
                <description>a symbol</description>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <app>lower</app>
                                <star>
                                    <app>alnum</app>
                                </star>
                            </seq>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
            <rule>
                <name>tokens</name>
                <ruledefinebody>
                    <alt>
                        <choice>
                            <seq>
                                <star>
                                    <paren>
                                        <alt>
                                            <choice>
                                                <seq>
                                                    <app>variable</app>
                                                </seq>
                                            </choice>
                                            <choice>
                                                <seq>
                                                    <app>symbol</app>
                                                </seq>
                                            </choice>
                                            <choice>
                                                <seq>
                                                    <app>_</app>
                                                </seq>
                                            </choice>
                                        </alt>
                                    </paren>
                                </star>
                            </seq>
                        </choice>
                    </alt>
                </ruledefinebody>
            </rule>
        </rules>
    </grammar>
</div>
